.card{
  height: 100px;
  width: 100px;
  border: 2px solid aqua;
}

.card-top{
  height: 40%;
  border: 1px solid green;
}

.card-bottom{
  height: 60%;
  border: 1px solid red;
  background: #02ccba; 
}
