.card {
  height: 350px;
  width: 100%;
  margin: 10px;
  border: 2px solid aqua;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
  border: 1px solid green;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  background: #02ccba;
}

/*Tablet/medium screens breakpoint*/
@media(min-width: 600px) and (max-width: 900px) {
  .card {
    height: 350px;
    width: 100%;
    margin: 0;
    border: 2px solid aqua;
  }
}
