.card {
  height: 350px;
  width: 250px;
  margin: 10px;
  border-radius: 5%;
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 5% 5% 0 0;
  background-color: #fff;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55%;
  background: #ffff88;
  border: 1px solid #000;
  border-top: none;
  border-radius: 0 0 5% 5%;
}

/*small screens breakpoint*/
@media only screen and (min-width: 600px) {
  .card {
    margin: 0;
  }
}

/*medium screens breakpoint*/
@media only screen and (min-width: 768px) and (max-width: 813px) {
  .card {
    width: 235px;
  }
}

/*XL screens breakpoint*/
@media only screen and (min-width: 1200px) and (max-width: 1230px) {
  .card {
    width: 240px;
  }
}
