@import "card.css";
@import "buttons.css";
@import "links.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&display=swap');

html {
  height: 100%
}

body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
/*  border: 2px solid blue;*/
}

/*sets the subscribe button to sit on the bottom of the nav*/
nav > a:last-child {
  margin-top: auto;
}

/* Initial css for small screens */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px repeat(2, auto) 50px;
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
}

/*.box {
  border: 1px solid yellow;
}*/

.top {
  grid-area: hd;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #fff;
}

.sidebar {
  grid-area: sd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.content {
  grid-area: main;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bottom {
  grid-area: ft;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-image: linear-gradient(210deg, purple, aqua);
  /*background-color: #C8C8C8;*/
  border-radius: 7px 7px 0 0;
}

.post-link-container {
  display: flex;
  flex-direction: column;
}

.post-link-container > a:last-child {
  margin: 10px 0 15px 0;
}

/*media query for small screens*/
@media only screen and (min-width: 600px) {

  .container {
    grid-template-rows: 100px auto 1fr 75px;
  }
  /*tablet sidebar/nav*/
  .post-link-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-link-container > a {
    padding-left: 10px;
  }

  .post-link-container > a:last-child,
  nav > a:last-child {
    margin: 0;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 10px;
  }

  .content {
    display: grid;
    grid-gap: 15px;
    padding: 0 10px 10px 10px;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto 1fr;
  }
}

/*media query for medium screens*/
@media only screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, auto);
    padding: 0 0 10px 0;
  }

  /* TODO: add 10px bottom margin on to container */
}

/*media query for large screens */
@media only screen and (min-width: 992px) {
  .container {
    grid-template-columns: 150px repeat(7, 1fr);
    grid-template-rows: 100px auto 75px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
  }

  .sidebar {
    margin: 0;
    padding-top: 10px;
  }

  .content {
    grid-template-columns: repeat(3, auto);
    padding: 10px 0 10px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.03);
  }

  .post-link-container,
  nav {
    flex-direction: column;
  }

  .post-link-container > a:first-child,
  nav > a:last-child {
    margin-bottom: 10px;
  }
}

/*media query for XL screens*/
@media only screen and (min-width: 1200px) {
  .content {
    grid-template-columns: repeat(4, auto);
  }
}
