@import "post.css";
@import "card.css";

/* Initial css for small screens */
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
  border: 1px solid red;
}

.box{
  border: 1px solid yellow;
}

.top{
  grid-area: hd;
}

.sidebar{
  grid-area: sd;
}

.content{
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bottom{
  grid-area: ft;
}

nav{
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
