/*Initial small screen layout*/
.post-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px 1fr 50px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
  border: 1px solid red;
}

.post-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

/*Author info section*/
.author {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
  border: 1px solid purple;
}

.avatar {
  grid-area: 1/1/5/2;
  margin: 0 10px 0 5px;
}

.author-name {
  grid-area: 1/2/1/2;
}

.author-title {
  grid-area: 2/2/2/2;
}

.author-company {
  grid-area: 3/2/3/2;
}

.author-bio {
  grid-area: 4/2/4/2;
}

.post-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

/*media query for small screens*/
@media only screen and (min-width: 600px) {
  .post-article {
    padding: 0 10% 0 10%;
  }

  .author {
    padding-left: 10%;
  }
}

/*media query for medium screens*/
@media only screen and (min-width: 768px) {

}

/*media query for large screens*/
@media only screen and (min-width: 992px) {
  .post-article {
    padding: 0 15% 0 15%;
  }

  .author {
    padding-left: 15%;
  }
}

/*media query for xl screens*/
@media only screen and (min-width: 1200px) {

}
