@import "main.css";

.scribe-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px auto 1fr 50px;
  grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
}

.top-nav {
  grid-area: nav;
  background-color: #fff;
  padding: 0 0 15px 20px;
}

.scribe-content {
  grid-area: main;
  padding: 3% 10% 0 10%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.scribe-form {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.scribe-form > input,
.check-container {
  margin-top: 25px;
}

.scribe-form > button {
  margin: 25px 0 35px 0;
}

.check-container > label{
  font-size: 0.9em;
  text-decoration: underline;
  font-style: italic;
}

input[type=checkbox] {
  align-self: flex-start;
}

/* TODO: add media queries to change the padding size on the scribe-content */
@media only screen and (min-width: 600px) {
  .scribe-content {
    padding: 3% 15% 0 15%;
  }

  .scribe-container {
    grid-template-rows: 100px auto 1fr 75px;
  }
}

@media only screen and (min-width: 768px) {
  .scribe-content {
    padding: 3% 22% 0 22%;
  }
}

@media only screen and (min-width: 992px) {
  .scribe-content {
    padding: 3% 25% 0 25%;
  }
}
